/* ------ BELOW IS FOR ALL PAGES */
body {
    background-color:white;
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* THIS IS NAVBAR */
.navbar {
    background-color:#068488;
    overflow:hidden;
}
.navbar a {
    float:left;
    text-align:center;
    padding:15px;
    font-size:20px;
    text-decoration:none;
    color:#ffffff;
}
.navbar a:hover {
    background-color:#324b4c;
}
.navbar a.active {
    background-color:#324b4c;
}

/* ------ BELOW IS FOR INDEX.HTML */
/* THIS IS FOR ALL */
.topheader {
    margin: auto;
    width:50%;
    text-align: center;
    background-color:#00c6cf;
}
.topheader p {
    font-size: 300%;
    color: #ffffff;
    margin: 3%;
}
.headerback {
    padding: 3% 0px 3% 0px;
    background-color:#00c6cf;
}

.aboutme {
    float:left;
    width:49%;
    margin: 5% auto auto 1%;
    border-style:solid;
    border-width:1px;
    border-radius:7px;
    border-color:#c08521;
    text-align:center;
    background-color:#37424e;
}

.aboutme h2 {
    color:#ffffff;
}

/* ------ BELOW IS FOR PROFESSIONAL_DOCS.HTML */
.flex-sect {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
}

.flex-sect > div{
    margin: 3% 1% auto 1%;
    border-style:solid;
    border-width:1px;
    border-radius:7px;
    border-color:#c08521;
    text-align:center;
    background-color:#37424e;
    color:#ffffff;
    flex:50%;
}

.resumediv, .coverletterdiv {
    height:500px;
}

@media (max-width: 800px) {
    .flex-sect {
      flex-direction: column;
    }
}
