/*------BELOW IS FOR ALL PAGES*/
body {
    background-color:#37424e;
    margin: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*----THIS IS NAVBAR*/
.navbar {
    background-color:#3e5b76;
    overflow:hidden;
    border-color:#c08521;
    border-radius:7px;
    border-width:1px;
    border-style:solid;
}
.navbar a {
    float:left;
    text-align:center;
    padding:15px;
    font-size:17px;
    text-decoration:none;
    color:#c1cddc;
}
.navbar a:hover {
    background-color:#37424e;
}
.navbar a.active {
    background-color:#c08521;
}

/*------BELOW IS FOR INDEX.HTML*/
/*----THIS IS FOR ALL*/
.topheader {
    display: block;
    width: 30%;
    margin: 3% auto auto auto;
    text-align: center;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: #c08521;
    background-color: #3e5b76;
}

.topheader p {
    font-size: 240%;
    color: #c1cddc;
    margin: 3%;
}

.aboutme {
    float:left;
    width:49%;
    margin: 5% auto auto 1%;
    border-style:solid;
    border-width:1px;
    border-radius:7px;
    border-color:#c08521;
    text-align:center;
    background-color:#37424e;
}

.aboutme h2 {
    color:#c1cddc;
}

/*------BELOW IS FOR PROFESSIONAL_DOCS.HTML*/
.flex-sect {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
}

.flex-sect > div{
    margin: 3% 1% auto 1%;
    border-style:solid;
    border-width:1px;
    border-radius:7px;
    border-color:#c08521;
    text-align:center;
    background-color:#37424e;
    color:#c1cddc;
    flex:40%;
}

@media (max-width: 800px) {
    .flex-sect {
      flex-direction: column;
    }
}
